body {
    background: #f9f9f9;
    font-family: Tahoma, Century Gothic, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
    color: #3b5998 ;
}

main {
    max-width: 100%;
    margin: auto;
}

h1 {
    color: #3b5998;
    margin-bottom: 5px;
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}

label {
    font-size: 13pt;
}

.banner {
    width: 100%;
    background-color: lightblue;
}

.left-banner {
    margin-left:0; 
    margin-right:auto;
}

.user-banner {
    text-align: center;   
    font-size: 2rem;
    font-style: italic;
}

.center-banner {
    text-align: center;
    font-size: 3rem;
}

.container {
    clear: both;
} 

.left-banner-big {
    margin-left:0; 
    margin-right:auto;
    font-size: 3rem;
}

.post-div {
    background-color: #FFFFFF;
    border: 1px solid #DFE0E4;
    padding: 15px 20px;
    margin: 20px 0;
}

#charNum {
    font-size: small;
    font-style: italic;
}